# OSX
#
.DS_Store

# npm / yarn
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
android/build
.idea
.gradle
local.properties
*.iml

# React Native
*.jsbundle
ios/Pods/

# Test apps (these are generated and shouldn't be committed)
CryptoTestApp/
test-app/
